doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="/favicon.png" rel="icon" type="image/x-icon")
        link(href="/styles.css" rel="stylesheet")
 
        title Microblog
        block headContent
    body
        .container
            .header
                .navbar
                    a(href="/blog") Home Page
                    if role === "admin" 
                        a(href="/blog/admin-page") Admin Page
                    a(href="/blog/my-posts") My Posts
                    if isLoggedIn === true
                        span=`Hi, ${username}`
                        a(href="/blog/logout") Logout
                    else
                        a(href="/blog/login") Login
                        a(href="/blog/signup") Sign Up

            block content