include postItem

mixin PostsList(props)
    ul.postsList
        if postsList.length > 0
            each post in postsList
                li
                    +PostItem({ post , ...props})
            else 
                p No posts yet