include userItem

mixin UsersList(props)
    ul.usersList
        if usersList.length > 0
            each user in usersList
                li
                    +UserItem({ user , ...props})
        else 
            p.tx-cen No users yet