body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0 0;
    padding: 0 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #6200ea;
    color: white;
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.navbar a:hover {
    text-decoration: underline;
}

.main-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.tx-cen {
    text-align: center;
}

.post, .user {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.post__info, .user__info {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #e1f2fe;
    border-radius: 10px;
    position: relative;
}

.post__info a,
.user__info a {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.delete-btn {
    z-index: 3;
    /* position: absolute; */
}

.post__header,
.comment__info,
.user__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    gap: 1rem;
}

.post__header :first-child,
.comment__info :first-child,
.user__header :first-child {
    grid-column: span 1;
}

.post__header :nth-child(2),
.comment__info :nth-child(2),
.user__header :nth-child(2) {
    grid-column: span 1;
    justify-self: end;
}

.post__author,
.user__author {
    display: flex;
    align-items: center;
    grid-column: span 1;
}


.author__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.author__details span {
    display: block;
}

.author__details span:last-child {
    font-size: 0.65em;
}

.author__details span:first-child {
    font-size: 1em;
}


.user__details {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 10fr;  
}

.user__details-row {
    display: contents;  
}

.user__details-header, .user__details-body {
    padding: 10px;
    /* border: 1px solid #ccc; */
    /* background-color: #ebcde7; */
    text-align: left;  
}

.user__details-header span {
    /* border: 1px solid #e0e0e0; */
    border: 2px solid #886c5d57;
    font-weight: bold;
    background-color: #f9f4f4;
    border-radius: calc(0.5 * 27px);
    padding: 5px;
}

.post__comments {
    margin-left: calc(0.5 * 3rem);
}

.comment {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background-color: #e5ebee;
    border-radius: 10px;
}

.comment__author {
    display: flex;
    align-items: center;
}

.comment__author img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.group {
    margin-bottom: 15px;
}

.group label {
    display: block;
    margin-bottom: 5px;
}

.group input,
.group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-error {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.btn {
    background-color: #6200ea;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.btn:hover {
    background-color: #4500b5;
}

.comment-form textarea {
    width: calc(100% - 22px); /* Adjust for padding and border */
}

.add-comment-section {
    margin-top: 20px;
}

.add-comment-section .comment__info {
    display: flex;
    align-items: center;
}

.add-comment-section .comment__info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.add-comment-section .comment__info .author__details {
    margin-right: auto;
}

.menu-icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #d5c0f8;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 160px;
}

.dropdown-menu button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
}

.dropdown-menu button:hover {
    background-color: #f1f1f1;
}

.error-content {
    height: 100vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.error-content h1 {
    font-size: 2rem;
}

.error-content p {
    color: #666;
}

.error-message {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1rem;
    align-items: start;
}

.error-message span {
    padding: 1em;
}

.error-message p {
    padding: 1em;
    border-radius: 10px;
    border: 1px solid #cccccc;
}

.form-error {
    color: rgb(215, 14, 14);
    margin: 10px 0;
}

.post__upload img {
    max-width: calc(5 * 2em);
    height: auto;
    display: block;
}